<%= render partial: "shared/player_name", locals: { player: @game.players.first, user: @user } %>

<div class="play-area">
  <%= render "shared/timer" %>
  <%= render partial: "shared/board", locals: { board: @game.board } %>
  <%= render partial: "shared/chat", locals: { chat: @game.chat } %>
</div>

<%= render partial: "shared/player_name", locals:  { player: @game.players.last, user: @user } %>


<div class="play-image"></div>