<div id="first-player-container" data-initial-name="<%= @game.first_player.try(:user_name) %>"></div>

<div class="play-area">
  <div id="turn-tracker" data-initial-color="<%= @game.current_player.try(:color) %>"></div>
  <%= render partial: "shared/board", locals: { board: @game.board } %>
  <%= render partial: "shared/chat", locals: { chat: @game.chat, button: @game.button } %>
</div>

<div id="second-player-container" data-initial-name="<%= @game.second_player.try(:user_name) %>"></div>

<div class="play-image"></div>

<%= javascript_tag do %>
    window.StartingPosition = "<%= @game.board.nil? ? "" : @game.board.position %>";
    window.CurrentPlayer = <%= Player.find_by({user_id: @user.id, game_id: @game.id}).to_json.html_safe %>;
<% end %>