<!DOCTYPE html>
<html>
  <head>
    <title>Fox Paper Scissors</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag %>
    <meta property="og:image" content="<%= image_url('preview_image.png') %>" />
    <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,700|Signika" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
